/* size of images */
/* img {
  width: 259;
  height: 250px;
} */

/* Aligning Images */
/* img {
  margin-left: 200px;
} */

/* img {
  float: right;
} */

/* Centering Images */
img {
  width: 500px;
  height: 300px;
  display: block;
  margin: auto;
}
