/* size of images */
/* img {
  width: 259;
  height: 250px;
} */

/* Aligning Images */
/* img {
  margin-left: 200px;
} */

/* img {
  float: right;
} */

/* Centering Images */
/* img {
  width: 500px;
  height: 300px;
  display: block;
  margin: auto;
} */

/* background-image */
/* body {
  background-image: url(./images/super-bike.jpg);
} */
/* background repeat */
/* body {
  font-size: xx-large;
  background-image: url(./images/super-bike.jpg);
  background-attachment: fixed;
} */

/* background position */
/* body {
  background-image: url(./images/small-bike.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;
} */
/* short hand position of background image */
/* body {
  background: #ffffff url(./images/small-bike.jpg) no-repeat top right;
} */

/* Linear-gradient*/
/* body {
  background-image: linear-gradient(red, yellow);
  background-repeat: no-repeat;
  height: 1000px;
} */
/* #gradient-container {
  width: 400px;
  height: 400px;
  background-color: red; For browsers that do not support gradients
  background-image: linear-gradient(90deg, yellow, red);
  margin: auto;
} */
/* 
#gradient-container {
  width: 800px;
  height: 400px;
  background-color: red; For browsers that do not support gradients
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  margin: auto;
} */

/* redial gradient */
/* #gradient-container {
  width: 400px;
  height: 400px;
  background-image: radial-gradient(red, yellow, green);
  margin: auto;
} */

/* conic gradients */
/* #gradient-container {
  width: 400px;
  height: 400px;
  background-image: conic-gradient(red, yellow, green, blue, black);
  background-image: conic-gradient(
    red 0deg,
    red 90deg,
    yellow 90deg,
    yellow 180deg,
    green 180deg,
    green 270deg,
    blue 270deg
  );
  border-radius: 50%;
  margin: auto;
} */

/* Examples Images */
body {
  color: #665544;
  background-color: #d4d0c6;
  background-image: url("images/backdrop.gif");
  font-family: Georgia, "Times New Roman", serif;
  text-align: center;
}
.wrapper {
  width: 720px;
  margin: 0px auto;
}
.header {
  margin: 40px 0px 20px 0px;
}
.entry {
  width: 220px;
  float: left;
  margin: 10px;
  height: 198px;
  background-image: url("images/shadow.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
figure {
  display: block;
  width: 202px;
  height: 170px;
  background-color: #e7e3d8;
  padding: 9px;
  text-align: left;
}
figure img {
  width: 200px;
  height: 150px;
  border: 1px solid #d6d6d6;
}
figcaption {
  background-image: url("images/icon.png");
  padding-left: 20px;
  background-repeat: no-repeat;
}
